*
{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1
{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice
{
    height: 135px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover
{
    background-color: #081b31;
    cursor: pointer;
}

img
{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.choices
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
}

.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score
{
    font-size: 3rem;
}

.msg-container
{
    margin-top: 3rem;
}

#msg
{
    background-color: #081b31;
    display: inline;
    font-size: 1.75rem;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}

@media (max-width: 443px)
{
    .choices
    {
        gap: 0rem;
        margin-right: 15px;
    }
    h1 .choices .score-board .msg-container
    {
        width: 442px;
    }
    img
    {
        height: 100px;
        width: 100px;
    }

    #msg
    {
        font-size: 1.3rem;
    }
    .choice:hover
    {
        background-color: transparent;
    }
    img:hover
    {
        border: solid 6px;
    }
}

@media (max-width: 328px)
{
    img
    {
        height: 90px;
        width: 90px;
    }
}
